<section id="research">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="section-heading">Research</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
              <div class="service-box research-interest">
                  <img src="resources/img/research_interests/creativity.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                  <h3>Computational Creativity</h3>
                  <p class="text-muted">Create computational models of language as a tool for creative thinking.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
              <div class="service-box research-interest">
                  <img src="resources/img/research_interests/cross-lingual.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                  <h3>Multilingual AI</h3>
                  <p class="text-muted">Develop AI models capable of understanding and generating multiple languages.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
              <div class="service-box research-interest">
                  <img src="resources/img/research_interests/lexical-innovation.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                  <h3>Language Change</h3>
                  <p class="text-muted">Investigate language evolution and word formation in diverse linguistic and cultural contexts.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
              <div class="service-box research-interest">
                  <img src="resources/img/research_interests/science.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                  <h3>AI For Science</h3>
                  <p class="text-muted">AI for Science, with primary expertise in scientific document processing and peer review evaluation. We also develop AI systems to advance the understanding of RNA and its biological functions.</p>
              </div>
          </div>
          <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
              <div class="service-box research-interest">
                  <img src="resources/img/research_interests/sample.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                  <h3>Interest 5</h3>
                  <p class="text-muted">interest 5 description</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
              <div class="service-box research-interest">
                  <img src="resources/img/research_interests/sample.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                  <h3>Interest 6</h3>
                  <p class="text-muted">interest 6 description</p>
              </div>
          </div> -->
      </div>
  </div>
  <br/><br/><br/><br/><br/><br/>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-subheading">Projects</h2>
            <hr class="primary">
        </div>
    </div>
  </div>
  <br/><br/><br/>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-subsubheading">Current Projects</h2>
            <hr class="primary">
        </div>
    </div>
  </div>
  <div class="container-fluid">
    {% for project_hash in site.data.projects %}
    {% assign project = project_hash[1][0] %}
    {% if project.active == true %}
      <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="service-box">
              <img src="{{ 'resources/img/projects/' | append: project.img }}" class="wow bounceIn text-primary" data-wow-delay=".1s">
              <h3><a href="{{ project.link }}">{{ project.title }}</a></h3>
              <p class="text-muted">
                {% if project.funding %}
                {% for fund in project.funding %}
                  {{ fund }}<br/>
                {% endfor %}
                {% endif %}
              </p>
              <p class="text-muted">
                {% if project.people %}
                {% for person in project.people %}
                  {{ person.name }} - {{ person.role }}<br/>
                {% endfor %}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
              <p class="text-muted">
                {{ project.description }}
              </p>
          </div>
      </div>
      <br/>
    {% endif %}
    {% endfor %}
  </div>
  <br/><br/><br/><br/><br/><br/>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-subsubheading">Past Projects</h2>
            <hr class="primary">
        </div>
    </div>
  </div>
  <div class="container-fluid">
    {% for project_hash in site.data.projects %}
    {% assign project = project_hash[1][0] %}
    {% if project.active == false %}
      <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="service-box">
              <img src="{{ 'resources/img/projects/' | append: project.img }}" class="wow bounceIn text-primary" data-wow-delay=".1s">
              <h3><a href="{{ project.link }}">{{ project.title }}</a></h3>
              <p class="text-muted">
                {% if project.funding %}
                {% for fund in project.funding %}
                  {{ fund }}<br/>
                {% endfor %}
                {% endif %}
              </p>
              <p class="text-muted">
                {% if project.people %}
                {% for person in project.people %}
                  {{ person.name }} - {{ person.role }}<br/>
                {% endfor %}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
              <p class="text-muted">
                {{ project.description }}
              </p>
          </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</section>